W1  BITMAP  "W1.BMP"
W2  BITMAP  "W2.BMP"
W3  BITMAP  "W3.BMP"
W4  BITMAP  "W4.BMP"
W5  BITMAP  "W5.BMP"
W6  BITMAP  "W6.BMP"
W7  BITMAP  "W7.BMP"
W8  BITMAP  "W8.BMP"
W9  BITMAP  "W9.BMP"
W10  BITMAP  "W10.BMP"
W11  BITMAP  "W11.BMP"
W12  BITMAP  "W12.BMP"
W13  BITMAP  "W13.BMP"
W14  BITMAP  "W14.BMP"
W15  BITMAP  "W15.BMP"
W16  BITMAP  "W16.BMP"

